# here i have imported aprioi and association rules

In [3]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [4]:
df = pd.read_excel('orderdetails.xlsx')

 # this is data from the database on orderid and itemid

In [5]:
df.head()

   OrderId  ItemId
0      144     600
1      144     602
2      144     604
3      144     872
4      144     873

In [6]:
df.count()

OrderId    394415
ItemId     394415
dtype: int64

# here i grouped my data on orderid  to get desired format

In [7]:
a=df.groupby('OrderId')['ItemId'].apply(list)

In [8]:
b=a.to_frame()

In [9]:
b=b.reset_index()

In [10]:
c=b.drop('OrderId',axis=1)

In [11]:
c.head()

                                              ItemId
0  [600, 602, 604, 872, 873, 875, 868, 1017, 1019...
1                                    [601, 611, 617]
2                                         [739, 707]
3                                              [684]
4                               [684, 701, 702, 709]

In [12]:
 c=c.head(1000)

In [13]:
dataset=list(c['ItemId'])

# this is the data which i have prepared in transaction format for further processing

In [14]:
dataset[1:25]

[[601, 611, 617],
 [739, 707],
 [684],
 [684, 701, 702, 709],
 [685, 973],
 [894, 656, 709, 728],
 [730, 964, 731],
 [885, 898, 979, 980, 1100, 715, 943],
 [726, 727, 601, 886, 611, 617],
 [739],
 [739, 740],
 [684, 1060, 885],
 [659, 678, 651, 654, 686],
 [684, 702, 1099, 683],
 [898, 917, 1033, 614],
 [683, 684, 1139, 657],
 [739, 681, 1141, 674, 617, 728, 979],
 [890,
  651,
  649,
  648,
  645,
  642,
  614,
  684,
  1104,
  1141,
  702,
  885,
  1011,
  1165,
  1110],
 [687, 665, 681, 979, 653],
 [719, 980, 979, 1099, 1008],
 [683],
 [1092],
 [1139, 1138, 1141],
 [685]]

In [15]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df1 = pd.DataFrame(te_ary, columns=te.columns_)

In [16]:
df1.head()

,599,600,601,602,603,604,605,606,607,608,...,1238,1240,1241,1245,1250,1251,1252,1255,1258,4525
0,False,True,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df2=df1.astype("int")

In [18]:
df2.head()

,599,600,601,602,603,604,605,606,607,608,...,1238,1240,1241,1245,1250,1251,1252,1255,1258,4525
0,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# here i am using apriori algorithm

In [2]:
frequent_item = apriori(df2, min_support=0.005, use_colnames=True)

NameError: name 'apriori' is not defined

In [20]:
frequent_item.head()

   support itemsets
0    0.029    (599)
1    0.011    (600)
2    0.030    (601)
3    0.016    (602)
4    0.013    (604)

In [21]:
frequent_item.tail()

     support                 itemsets
397    0.044       (1196, 1197, 1198)
398    0.012       (1196, 1197, 1199)
399    0.010       (1196, 1197, 1213)
400    0.005       (1240, 1241, 1199)
401    0.008  (1196, 892, 1197, 1198)

# Here i applied association rules

In [22]:
rules = association_rules(frequent_item,metric = "lift" ,min_threshold=1)

In [23]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(600),(599),0.011,0.029,0.009,0.818182,28.213166,0.008681,5.340500
1,(599),(600),0.029,0.011,0.009,0.310345,28.213166,0.008681,1.434050
2,(604),(599),0.013,0.029,0.008,0.615385,21.220159,0.007623,2.524600
3,(599),(604),0.029,0.013,0.008,0.275862,21.220159,0.007623,1.363000
4,(605),(599),0.019,0.029,0.005,0.263158,9.074410,0.004449,1.317786

In [24]:
rules.tail()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
541,"(1197, 1198)","(892, 1196)",0.071,0.025,0.008,0.112676,4.507042,0.006225,1.098810
542,(1196),"(892, 1197, 1198)",0.214,0.010,0.008,0.037383,3.738318,0.005860,1.028447
543,(892),"(1196, 1197, 1198)",0.063,0.044,0.008,0.126984,2.886003,0.005228,1.095055
544,(1197),"(892, 1196, 1198)",0.177,0.008,0.008,0.045198,5.649718,0.006584,1.038959
545,(1198),"(892, 1196, 1197)",0.098,0.018,0.008,0.081633,4.535147,0.006236,1.069289

# here i applied filtering on rules is this necessary if yes then what should be ideal values for lift or confidence

# and for the sake of deployment what should be approach like if they give itemid we will search in antecedents and give  them consequents is this correct ?

In [25]:
rules[ (rules['lift'] >= 3) & (rules['confidence'] >= 0.05)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(600),(599),0.011,0.029,0.009,0.818182,28.213166,0.008681,5.340500
1,(599),(600),0.029,0.011,0.009,0.310345,28.213166,0.008681,1.434050
2,(604),(599),0.013,0.029,0.008,0.615385,21.220159,0.007623,2.524600
3,(599),(604),0.029,0.013,0.008,0.275862,21.220159,0.007623,1.363000
4,(605),(599),0.019,0.029,0.005,0.263158,9.074410,0.004449,1.317786
5,(599),(605),0.029,0.019,0.005,0.172414,9.074410,0.004449,1.185375
6,(611),(599),0.042,0.029,0.007,0.166667,5.747126,0.005782,1.165200
7,(599),(611),0.029,0.042,0.007,0.241379,5.747126,0.005782,1.262818
8,(632),(599),0.020,0.029,0.006,0.300000,10.344828,0.005420,1.387143
9,(599),(632),0.029,0.020,0.006,0.206897,10.344828,0.005420,1.235652
10,(648),(599),0.019,0.029,0.005,0.263158,9.074410,0.004449,1.317786
11,(599),(648),0.029,0.019,0.005,0.172414,9.074410,0.004449,1.185375
18,(601),(605),0.030,0.019,0.006,0.200000,10.526316,0.005430,1.226250
19,(605),(601),0.019,0.030,0.006,0.315789,10.526316,0.005430,1.417692
20,(601),(611),0.030,0.042,0.010,0.333333,7.936508,0.008740,1.437000
21,(611),(601),0.042,0.030,0.010,0.238095,7.936508,0.008740,1.273125
22,(601),(617),0.030,0.036,0.005,0.166667,4.629630,0.003920,1.156800
23,(617),(601),0.036,0.030,0.005,0.138889,4.629630,0.003920,1.126452
30,(611),(605),0.042,0.019,0.005,0.119048,6.265664,0.004202,1.113568
31,(605),(611),0.019,0.042,0.005,0.263158,6.265664,0.004202,1.300143
32,(605),(614),0.019,0.033,0.006,0.315789,9.569378,0.005373,1.413308
33,(614),(605),0.033,0.019,0.006,0.181818,9.569378,0.005373,1.199000
36,(611),(614),0.042,0.033,0.013,0.309524,9.379509,0.011614,1.400483
37,(614),(611),0.033,0.042,0.013,0.393939,9.379509,0.011614,1.580700
38,(617),(611),0.036,0.042,0.013,0.361111,8.597884,0.011488,1.499478
39,(611),(617),0.042,0.036,0.013,0.309524,8.597884,0.011488,1.396138
40,(611),(620),0.042,0.025,0.014,0.333333,13.333333,0.012950,1.462500
41,(620),(611),0.025,0.042,0.014,0.560000,13.333333,0.012950,2.177273
42,(626),(611),0.009,0.042,0.005,0.555556,13.227513,0.004622,2.155500
43,(611),(626),0.042,0.009,0.005,0.119048,13.227513,0.004622,1.124919
...,...,...,...,...,...,...,...,...,...
499,"(1170, 1198)",(1197),0.008,0.177,0.006,0.750000,4.237288,0.004584,3.292000
503,(1198),"(1170, 1197)",0.098,0.009,0.006,0.061224,6.802721,0.005118,1.055630
505,"(1196, 1189)",(1197),0.016,0.177,0.012,0.750000,4.237288,0.009168,3.292000
506,"(1197, 1189)",(1196),0.014,0.214,0.012,0.857143,4.005340,0.009004,5.502000
507,(1196),"(1197, 1189)",0.214,0.014,0.012,0.056075,4.005340,0.009004,1.044574
508,(1197),"(1196, 1189)",0.177,0.016,0.012,0.067797,4.237288,0.009168,1.055564
510,"(1196, 1197)",(1198),0.124,0.098,0.044,0.354839,3.620803,0.031848,1.398100
511,"(1196, 1198)",(1197),0.053,0.177,0.044,0.830189,4.690332,0.034619,4.846556
514,(1197),"(1196, 1198)",0.177,0.053,0.044,0.248588,4.690332,0.034619,1.260293
515,(1198),"(1196, 1197)",0.098,0.124,0.044,0.448980,3.620803,0.031848,1.589778
517,"(1197, 1199)",(1196),0.013,0.214,0.012,0.923077,4.313444,0.009218,10.218000
518,(1196),"(1197, 1199)",0.214,0.013,0.012,0.056075,4.313444,0.009218,1.045634
521,"(1196, 1213)",(1197),0.014,0.177,0.010,0.714286,4.035513,0.007522,2.880500
522,"(1197, 1213)",(1196),0.010,0.214,0.010,1.000000,4.672897,0.007860,inf
524,(1197),"(1196, 1213)",0.177,0.014,0.010,0.056497,4.035513,0.007522,1.045042
526,"(1240, 1241)",(1199),0.008,0.147,0.005,0.625000,4.251701,0.003824,2.274667
527,"(1240, 1199)",(1241),0.009,0.009,0.005,0.555556,61.728395,0.004919,2.229750
528,"(1241, 1199)",(1240),0.005,0.023,0.005,1.000000,43.478261,0.004885,inf
529,(1240),"(1241, 1199)",0.023,0.005,0.005,0.217391,43.478261,0.004885,1.271389
530,(1241),"(1240, 1199)",0.009,0.009,0.005,0.555556,61.728395,0.004919,2.229750
532,"(892, 1196, 1197)",(1198),0.018,0.098,0.008,0.444444,4.535147,0.006236,1.623600
533,"(892, 1196, 1198)",(1197),0.008,0.177,0.008,1.000000,5.649718,0.006584,inf
535,"(892, 1197, 1198)",(1196),0.010,0.214,0.008,0.800000,3.738318,0.005860,3.930000
536,"(892, 1196)","(1197, 1198)",0.025,0.071,0.008,0.320000,4.507042,0.006225,1.366176
537,"(1196, 1197)","(892, 1198)",0.124,0.011,0.008,0.064516,5.865103,0.006636,1.057207
538,"(1196, 1198)","(892, 1197)",0.053,0.026,0.008,0.150943,5.805515,0.006622,1.147156
539,"(892, 1197)","(1196, 1198)",0.026,0.053,0.008,0.307692,5.805515,0.006622,1.367889
540,"(892, 1198)","(1196, 1197)",0.011,0.124,0.008,0.727273,5.865103,0.006636,3.212000
541,"(1197, 1198)","(892, 1196)",0.071,0.025,0.008,0.112676,4.507042,0.006225,1.098810
545,(1198),"(892, 1196, 1197)",0.098,0.018,0.008,0.081633,4.535147,0.006236,1.069289

In [26]:
rules[ (rules['lift'] >= 3) & (rules['confidence'] >= 0.05)].tail()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
538,"(1196, 1198)","(892, 1197)",0.053,0.026,0.008,0.150943,5.805515,0.006622,1.147156
539,"(892, 1197)","(1196, 1198)",0.026,0.053,0.008,0.307692,5.805515,0.006622,1.367889
540,"(892, 1198)","(1196, 1197)",0.011,0.124,0.008,0.727273,5.865103,0.006636,3.212000
541,"(1197, 1198)","(892, 1196)",0.071,0.025,0.008,0.112676,4.507042,0.006225,1.098810
545,(1198),"(892, 1196, 1197)",0.098,0.018,0.008,0.081633,4.535147,0.006236,1.069289